body{
    background-color: blanchedalmond;
    
    padding: 20px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}
.card{
    background-color: cornsilk;
    border-radius: 10px;
    width: 250px;
    padding: 5px;
    justify-content: center;
    box-shadow: 0 2px 4px 0 brown;
    

}
 .card:hover{
    transform: scale(1.03);
 }


.title{
    font-size: larger;
    font-weight: bold;
    padding-bottom: 10px;
}
.year{
    padding-top: 10px;
}